body {
    font-family:Calibri, Calibri, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

#flash {
    padding: 1em;
    background-color: #eee;
    margin: 1em 0;
}

#header {
    padding: 0 1em;
}

h2 {
    background-color: #eee;
    padding: 5px 0.5em;
}

div.section {
    padding: 0 1em;
}

th {
font-family:Calibri, Calibri, Arial, Helvetica, sans-serif;
font-size:1.25em;
background-color: #eee;
}

td {
    padding: 0 0.5em;
}

#KeyListTable{
background-color: #ddd;
border-style:solid;
border-width:1px;
border-color:#000;
padding: 5px;
}

.KeyItem{
}

.KeyHost{
}

.Key{
}

.KeyDelete{
}

#KeyAdd{
margin-left:auto;
margin-right:auto;
font-family:Calibri, Calibri, Arial, Helvetica, sans-serif;
font-size:1.25em;
background-color: #eee;
padding: 5px;
}

#KeyAddNotes{
font-family:Calibri, Calibri, Arial, Helvetica, sans-serif;
font-size:0.75em;
background-color: #ddd;
padding: 5px;
}

#DeleteConfirm{
}

#DeleteConfirmLink{
}
