/* COMMON ELEMENTS */
/* Text formatting */


#PageFrame{
padding: 5px;
height: 100%;
background-color: #fff;
margin-left:auto;
margin-right:auto;
}

#Header{
margin-left:auto;
margin-right:auto;
font-family:Calibri, Calibri, Arial, Helvetica, sans-serif;
font-size:2em;
}

#Note{
}

#NoKeys{
padding: 5px;
}

#KeyList{
padding: 5px;
}

#KeyListTitle{
margin-left:auto;
margin-right:auto;
font-family:Calibri, Calibri, Arial, Helvetica, sans-serif;
font-size:2em;
background-color: #eee;
padding: 5px;
}

#KeyListHeader{
font-family:Calibri, Calibri, Arial, Helvetica, sans-serif;
font-size:1.25em;
background-color: #eee;
}

#KeyHostHeader{
}

#KeyKeyHeader{
min-width:250px;
}

#KeyListTable{
background-color: #ddd;
border-style:solid;
border-width:1px;
border-color:#000;
padding: 5px;
}

.KeyItem{
}

.KeyHost{
}

.Key{
}

.KeyDelete{
}

#KeyAdd{
margin-left:auto;
margin-right:auto;
font-family:Calibri, Calibri, Arial, Helvetica, sans-serif;
font-size:1.25em;
background-color: #eee;
padding: 5px;
}

#KeyAddNotes{
font-family:Calibri, Calibri, Arial, Helvetica, sans-serif;
font-size:0.75em;
background-color: #ddd;
padding: 5px;
}

#DeleteConfirm{
}

#DeleteConfirmLink{
}
